button-title=Applications Menu
button-icon=/usr/share/icons/colors/blue/manjaro-softblue.png
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
hover-switch-category=true
category-icon-size=1
item-icon-size=2
favorites=
recent=xfce-settings-manager.desktop,lxmed.desktop,xfce4-settings-editor.desktop,cairo-dock.desktop,xfce-ui-settings.desktop,kde4-kdesystemsettings.desktop,gparted.desktop,cairo-dock-cairo.desktop,manjaro-settings-manager.desktop
menu-width=400
menu-height=500

